{% extends 'base.html' %}

 {% block link %}
            <link rel="stylesheet" href="../../static/css/home.css">
 {% endblock %}

{% block content %}
    <div class="box">
        <text>
            <h1>Welcome!</h1><br>
            <h2>Learn how to work with AI!</h2><br>
            <p>BeforeAI is an interactive Flask web application where users can upload their own datasets whit which they can train machine learning models in real-time, and visually experience how AI learns, evolves, and predicts! In this application you can learn more about how perceptron and linear regression works.</p><br>
        </text>
    </div>
{% endblock %}