{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/apply.css') }}">
<div class="container my-5">
  <h2 class="text-center mb-4">Apply to {{ applied_company }}</h2>
  <form method="POST" action="{{ url_for('companies.apply_to_company', company_name=applied_company) }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.username.label(class="form-label") }}
      {{ form.username(class="form-control", placeholder="Enter your full name") }}
    </div>
    <div class="mb-3">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control", placeholder="Enter your email") }}
    </div>
    <div class="text-center">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>
{% endblock %}
