{% extends "base.html" %}

{% block link %}
  <link rel="stylesheet" href="../../static/css/base.css">
  <link rel="stylesheet" href="../../static/css/auth.css">
  <link rel="stylesheet" href="../../static/css/recommend.css">
    <script src="{{ url_for('static', filename='js/language.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="recommendation">
    <h3 data-translate="Top 3 Recommended Companies">Top 3 Recommended Companies</h3>
    <ul>

      {% for company in companies %}
        <li class="
          {% if company.score >= 80 %} high-score
          {% elif company.score >= 50 %} medium-score
          {% else %} low-score
          {% endif %}
        ">
          <span class="badge">{{ loop.index }}</span>
          <a href="{{ url_for('companies.apply_to_company', company_name=company.name) }}" style="text-decoration: none; color: inherit;">
            <strong>{{ company.name }}</strong> - {{ company.score }}%
          </a>
        </li>
      {% endfor %}

    </ul>

    <h4 data-translate="Visual match overview">Visual match overview</h4>
    {% if chart_image %}
      <img src="data:image/png;base64,{{ chart_image }}" alt="Chart showing company match percentages">
    {% else %}
      <p>Loading chart...</p>
    {% endif %}

    <a href="{{ url_for('companies.show_companies') }}" class="btn">Explore More Companies</a>
  </div>
{% endblock %}
