{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block link %}
     <link rel="stylesheet" href="../../static/css/base.css">
     <link rel="stylesheet" href="../../static/css/home.css">
     <link rel="stylesheet" href="../../static/css/companies.css">
    <script src="{{ url_for('static', filename='js/language.js') }}"></script>
 {% endblock %}

{% block content %}
<div class="box">
            <h2 class="welcome-title" data-translate="Welcome to our register form for companies!">Welcome to our register form for companies!</h2>
            <p class="welcome-text" data-translate="If you are a company, and you want to find the perfect members for your team. This is the place for you!">If you are a company, and you want to find the perfect members for your team. This is the place for you! </p>
            <a href="#text" class="scroll-button" data-translate="See More ↓">See More ↓</a>
        </div>
{% endblock %}

{% block companies %}
    <div id="text" class="register-form">
        <h1 class="mb-4" data-translate="Register a Company">Register a Company</h1>
        <br>
        <div class="card p-4 shadow-sm">
            <form method="POST">
                {{ wtf.quick_form(form) }}
            </form>
        </div>
        <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
