{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block link %}
     <link rel="stylesheet" href="../../static/css/base.css">
     <link rel="stylesheet" href="../../static/css/home.css">
     <link rel="stylesheet" href="../../static/css/companies.css">
 {% endblock %}

{% block content %}
<div class="box">
            <h1 class="welcome-title">Welcome!</h1>
            <p class="welcome-subtitle">Learn how to work with AI!</p>
            <p class="welcome-text">
              <strong>BeforeAI</strong> is an interactive Flask web application where users can upload their own datasets
              with which they can train machine learning models in real-time, and visually experience how AI learns,
              evolves, and predicts! Learn how <strong>Perceptron</strong> and <strong>Linear Regression</strong> work —
              visually and interactively.
            </p>
            <a href="#text" class="scroll-button">See More ↓</a>
        </div>
{% endblock %}

{% block companies %}
    <div id="text" class="register-form">
        <h1 class="mb-4">Register a Company</h1>
        <br>
        <div class="card p-4 shadow-sm">
            <form method="POST">
                {{ wtf.quick_form(form) }}
            </form>
        </div>
    </div>

{% endblock %}
