/* Background image and global styles */
body {
  background: transparent;
  background-size: cover;
  font-family: 'Orbitron', sans-serif;

  overflow-x: hidden;
}

/* Form container with neon-glass look */
.container {
  max-width: 600px;
  background-color: transparent;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 40px;
  border-radius: 10px;
  animation: pulseBorder 2s infinite alternate;

  /* Shift left */
  transform: translateX(-450px);
}

/* Headline */
h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

/* Form labels */
.form-label {
  color: white;
  font-size: 26px;
}

/* Form input fields */
.form-control {
  border: 2px solid white;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
}

.btn {
  padding: 20px;
  font-size: 14px;
}

