.box {
    margin-top: -200px;
    margin-right: 900px;
}

.welcome-title {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    user-select: none;
    z-index: 2;
}

.welcome-subtitle {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
    user-select: none;
    z-index: 2;
}

.welcome-text {
    max-width: 700px;
    margin: 0 auto 40px;
    font-size: 1.1rem;
    line-height: 1.7;
    color: #fff;
    user-select: none;
    z-index: 2;
}

.cta-btn, .scroll-button {
    font-size: 1.2rem;
    padding: 12px 32px;
    background-color: #fff;
    color: #64748b;
    border: none;
    border-radius: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    font-weight: 600;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cta-btn:hover {
    background-color: #4b5563;
    color: white;
    transform: scale(1.05) translateY(-2px);
}

.scroll-button {
    transition: background-color 1.5s ease;
}

.scroll-button:hover {
    background-color: #e0e0e0;
}