.flashcard-container {
  max-width: 600px;
  overflow: hidden;
  margin-bottom: 1000px;
    margin-right: 1000px;
}

.flashcards-wrapper {
  display: flex;
  transition: transform 0.6s ease;
  width: 100%;
    font-size: 20px;
}

.flashcard {
  width: 100%;
  flex-shrink: 0;
  padding: 1rem;
}

.form-label {
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
}

.form-check-label {
  font-weight: 500;
  text-align: left;
}

.form-check-input:checked {
  background-color: #79A8A9;
  border-color: #79A8A9;
}

.form-control {
  border-radius: 12px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.form-check {
  background-color: transparent;
  border: none;
  text-align: left;
}

.cta-btn {
  padding: 10px 24px;
  font-weight: bold;
  border-radius: 10px;
}

#prev-btn {
  color: white;
  border-color: white;
}

#prev-btn:hover {
  border-color: #757575;
}

